<!DOCTYPE html>
<head id="Head">
<script type="text/javascript">var allpane = 'headerAreaA|mainArea|sidebarAreaA|footerAreaA|bottomAreaA|fixedBottomArea|fixed-left|fixed-right|popup-area';</script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>公司新闻</title>
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<meta http-equiv="PAGE-ENTER" content="RevealTrans(Duration=0,Transition=1)"/>
<link id="qhddefaultcontent2075_css" rel="stylesheet" type="text/css" href="__PUBLIC__/static/index/style/css/qhdcontent.css"/>
<link id="_Portals__default_Skins_Biotechnology_Html_css_content_css?ver=1_0" rel="stylesheet" type="text/css" href="__PUBLIC__/static/index/style/css/content.css"/>
<link id="_Portals__default_Skins_Biotechnology_Html_css_menu_css?ver=1_0" rel="stylesheet" type="text/css" href="__PUBLIC__/static/index/style/css/menu.css"/>
<link id="_Portals__default_Skins_Biotechnology_Html_css_jquery_fancybox_1_3_4_css?ver=1_0" rel="stylesheet" type="text/css" href="__PUBLIC__/static/index/style/css/jquery.fancybox-1.3.4.css"/>
<link id="_Portals__default_Skins_Biotechnology_Html_css_pgwslideshow_css?ver=1_0" rel="stylesheet" type="text/css" href="__PUBLIC__/static/index/style/css/pgwslideshow.css"/>
<link id="_Portals__default_Skins_Biotechnology_Html_css_animate_min_css?ver=1_0" rel="stylesheet" type="text/css" href="__PUBLIC__/static/index/style/css/animate.min.css"/>
<link id="_Portals__default_Skins_Biotechnology_Html_css_style_css?ver=1_2" rel="stylesheet" type="text/css" href="__PUBLIC__/static/index/style/css/style.css"/>
<link id="_Portals__default_Skins_Biotechnology_Html_css_style_PurpleAndPink_css" rel="stylesheet" type="text/css" href="__PUBLIC__/static/index/style/css/style-purpleandpink.css"/>
<style>html{background-image:url(__PUBLIC__/static/index/image/bg-rep-02.png);}</style>

<meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
</head>
<body class="font-zh-CN" style="background:url(__PUBLIC__/static/index/image/bg-img-04.jpg) top center fixed;">
<section class="main">
<div class="page-width clearfix"> 
<section class="content float-right"> 
<section class="page-title page-title-inner clearfix"> 
<div class="breadcrumbs float-right" skinobjectzone="HtmlBreadCrumb_3803"><span>当前位置：</span><a href='/'>主页</a> > <a href='/a/zhongwenjianti/'>中文简体</a> > <a href='/a/xinwendongtai/gongsixinwen/'>新闻动态</a> > <a href='/a/xinwendongtai/gongsixinwen/'>公司新闻</a> > </div>
  
<div class="page-name float-left">
<h2>公司新闻</h2>
</div>
 </section>
 
<div id="a1portalSkin_mainArea" class="content-wrapper"> <a name="31454" id="31454"></a>
<div class="module-default">
<div class="module-inner">
<div id="a1portalSkin_ctr8922389223_mainArea" class="module-content">  
<div class="entry-list entry-list-article entry-list-mobile">
 
<div class="entry-item">
<div class="typo">
<div class="typo-img">
<div class="entry-img"><a href="http://www.chuanke.com/s2260700.html" target="_blank"><img src="__PUBLIC__/static/index/image/1-160R32321400-L.jpg" width="220" alt="我司与中科院天津所签署产业合作协议"/></a></div>
</div>
 
<div class="typo-text">
<div class="entry-title">
<h2><a href="http://www.chuanke.com/s2260700.html" target="_blank">我司与中科院天津所签署产业合作协议</a></h2>
</div>
<div class="entry-summary">
<div class="qhd-content">
<p> 2013年4月27日，中国科学院天津工业生物技术研究所与我司在山东省寿光市举行非粮原料生物法琥珀酸及生物基产品PBS产业化项目签约仪式。寿光市领导朱兰玺、孙成华、王安文出席仪式...</p>
</div>
</div>
</div>
 </div>
</div>
  
<div class="entry-item">
<div class="typo">
<div class="typo-img">
<div class="entry-img"><a href="http://www.chuanke.com/s2260700.html" target="_blank"><img src="__PUBLIC__/static/index/image/1-160R32321120-L.jpg" width="220" alt="我司被列入国家“863计划”"/></a></div>
</div>
 
<div class="typo-text">
<div class="entry-title">
<h2><a href="http://www.chuanke.com/s2260700.html" target="_blank">我司被列入国家“863计划”</a></h2>
</div>
<div class="entry-summary">
<div class="qhd-content">
<p> 2013年8月，公司非粮原料生物法50万吨/年丁二酸及生物基产品PBS产业化项目正式被列入国家863计划。 该项目作为国内首条、世界第二条以非粮作物为原料，以生物法生产有机酸的产业化...</p>
</div>
</div>
</div>
 </div>
</div>
  
<div class="entry-item">
<div class="typo">
<div class="typo-img">
<div class="entry-img"><a href="http://www.chuanke.com/s2260700.html" target="_blank"><img src="__PUBLIC__/static/index/image/1-160R32320420-L.jpg" width="220" alt="中试车间数据指标达到国际先进水平"/></a></div>
</div>
 
<div class="typo-text">
<div class="entry-title">
<h2><a href="http://www.chuanke.com/s2260700.html" target="_blank">中试车间数据指标达到国际先进水平</a></h2>
</div>
<div class="entry-summary">
<div class="qhd-content">
<p> 2013年8月15日，兰典科技中试车间具备安装条件，部分设备到货并开始安装。10月10日，车间所有设备全部安装完毕。12日，开始单机试车。25日，开始投料试车。 2014年3月5日上午，我司与...</p>
</div>
</div>
</div>
 </div>
</div>
 
</div>
   <div class="m-page">
<ul class="pagelist">
<li><span class="pageinfo">共 <strong>1</strong>页<strong>3</strong>条记录</span></li>
</ul>
</div>
    </div>
</div>
</div>
</div>
 
<div class="track"><i></i></div>
<script>
     $(document).ready(function(){
      var sidebarHeight = $(".sidebar").height();
      var contentHeight = $(".content").height();
      if(sidebarHeight>contentHeight){
       $(".track").height(sidebarHeight);
      }
     });
</script> </section>
  
<section class="sidebar float-left"> 
<section class="page-menu" skinobjectzone="menu_4014">
<div class="page-menu-title">
<h3>新闻动态</h3>
</div>
<div class="page-menu-content">
<ul>
<li class='current'><a href="http://www.chuanke.com/s2260700.html">公司新闻</a><i></i></li>
<li class=""><a href="http://www.chuanke.com/s2260700.html" target="">行业动态</a><i></i></li>
</ul>
  <script type="text/javascript">
                   $(document).ready(function(){
        $('.page-menu-content ul').find('li:last').addClass('last');
        
        $('.page-menu-content > ul > li > a').click(function(){
         if( $(this).parent('li').find('ul') ){
          $(this).parent('li').find('ul').slideDown('fast');
          $(this).parent('li').siblings('li').find('ul').slideUp('fast');
          $(this).parent('li').addClass('current').siblings('li').removeClass('current');
         }
        }); 
        
       });
</script></div>
</section>
 
<div class="clear"></div>
<div id="a1portalSkin_sidebarAreaA" class="QHDEmptyArea sidebar-content"></div>
</section>
 </div>
</section>
 
 
</body>
</html>