<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>管理员信息列表</title>  
    <link rel="stylesheet" href="__PUBLIC__/static/admin/style/css/pintuer.css">
    <link rel="stylesheet" href="__PUBLIC__/static/admin/style/css/admin.css">
    <script src="__PUBLIC__/static/admin/style/js/jquery.js"></script>
    <script src="__PUBLIC__/static/admin/style/js/pintuer.js"></script>  
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong class="icon-reorder"> 管理员列表</strong></div>
  <div class="padding border-bottom">  
  <a class="button border-yellow" href="{:url('addadmin/add')}"><span class="icon-plus-square-o"></span> 添加成员</a>
  </div> 
  <table class="table table-hover text-center">
    <tr>
      <th width="5%">ID</th>     
      <th>管理员名称</th>  
         
      <th width="250">操作</th>
    </tr>
   
   {volist name='guanliyuan' id='vo'}<!--每次循环的时候都把数据复制给vo,而这里的name的值要与assign()函数里的第一个参数保持一致,list为数组，所以也可以用foreach输出-->
    <tr>
      <td>{$vo.Id}</td>      
      <td>{$vo.UserName}</td>  
       
      <td>
      <div class="button-group">
      <a type="button" class="button border-main" href="#"><span class="icon-edit"></span>修改</a>
      <a class="button border-red" href="" onclick="confirm('确定要删除吗','{:url('addadmin/del',array('id'=>$vo['Id']))}'"><span class="icon-trash-o"></span>删除</a>
      </div>
      </td>
    </tr> 
    {/volist}
    
    
  </table>
{$guanliyuan|raw}
</div>



</body></html>