<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta  name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>ThinkPHP3.2.3资料下载及学习交流群⑬：635209627</title>
<meta name="keywords" content="ThinkPHP3.2.3资料下载及学习交流群⑬：635209627" />
<meta name="description" content="ThinkPHP3.2.3资料下载及学习交流群⑬：635209627" />
<meta name="author" content="order by adminbuy.cn" />
<script src="./js/TouchSlide.1.1.js" type="text/javascript"></script>
<script src="./js/jq.mobi.min.js" type="text/javascript"></script>
<script type="text/javascript" src="./js/jquery.min.js"></script>
<script type="text/javascript" src="./js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="./js/pzinputmsg.js"></script>
<script type="text/javascript" src="./js/navSlide.js"></script>
<link rel="stylesheet" href="./style/style.css">
<link rel="stylesheet" href="./style/bootstrap.css">
<script>
            $(function () {
                $('#tcgao').hide();
            })
        </script>
<script type="text/javascript" src="./js/jquery.scrollTo.js"></script>
<script type="text/javascript">
    $(function () {
        $("#ljth_h").click(function () {
            $.scrollTo('#ljth', 500);
            $('#ljth').css('padding-top', '85px');
        });
        $("#tzln_h").click(function () {
            $.scrollTo('#tzln', 800);
            $('#tzln').css('padding-top', '85px');
        });
        $("#thyw_h").click(function () {
            $.scrollTo('#thyw', 1000);
            $('#thyw').css('padding-top', '85px');
        });
        $("#xwdt_h").click(function () {
            $.scrollTo('#xwdt', 1200);
        });
       
    });
   

</script>
</head>
<body style="outline: none;">

<div class="pz_top" id="pz_top">
  <div class="w_1200">
    <div class="c_1200_1">
      <div class="logo"><a href="/"><img src="./img/logo.png" width="250" height="60"></a></div>
      <div class="r_menu">
        <div class="menu"  id="navSlide">
          <ul>
            <li class="nli nli_1 on"> <span> <a class="l1_a" href="/">
              <div class="limg"><img src="./img/top_img64575469.png" width="19" height="19"></div>
              <div class="chi">首&nbsp;&nbsp;页</div>
              </a> </span> </li>
            <li class="nli nli_1 " id="nav2"> <span> <a class="l1_a" href="/a/about/gsjj/" target="_self">
              <div class="limg"><img src="./img/top_imgt1.png" width="19" height="19"></div>
              <div class="chi">走进我们</div>
              </a> <b></b> </span>  </li><li class="nli nli_1 " id="nav2"> <span> <a class="l1_a" href="/a/yewu/s1/" target="_self">
              <div class="limg"><img src="./img/top_imgt2.png" width="19" height="19"></div>
              <div class="chi">公司业务</div>
              </a> <b></b> </span>  </li><li class="nli nli_1 " id="nav2"> <span> <a class="l1_a" href="/a/news/" target="_self">
              <div class="limg"><img src="./img/top_imgt3.png" width="19" height="19"></div>
              <div class="chi">新闻中心</div>
              </a> <b></b> </span>  </li><li class="nli nli_1 " id="nav2"> <span> <a class="l1_a" href="/a/contact/" target="_self">
              <div class="limg"><img src="./img/top_imgt4.png" width="19" height="19"></div>
              <div class="chi">联系我们</div>
              </a> <b></b> </span>  </li>
          </ul>
          </li>
          <li class="nli nli_2" id="login_in"> <span> 

            </span> </li>
          </ul>
          <script>
                               $('#denglu').click(function () {
                                   $('.pf_load').show();
                               })
                           </script> 
        </div>
        <div class="small_menu"> <a href="javascript:;" onClick="$('.menu,.cha').show(200);"><img src="./img/top_img4.jpg" width="48" height="46"></a> <a class="cha" href="javascript:;" onClick="$('.menu,.cha').hide(200);"><img src="./img/top_img5.jpg" width="48" height="46"></a> </div>
      </div>
    </div>
  </div>
</div>

<div style="width:100%;float:left;" id="tcgao"></div>
<div class="hieght_85"></div>
<div class="pz_banner"> 
  <!--pcbanner开始-->
  <div style="height:504px; position: relative;" class="banner_box_pc">
    <div style="position: absolute; left: 50%; margin-left: -960px; top: 0;">
      <div class="pz_slides_3">
        <div class="_btn"></div>
        <div class="_pic">
          <ul>
            <li><a href="#"><img src="./img/55892845.png" width="1920" height="504" /></a></li>
<li><a href="#"><img src="./img/1742141.jpg" width="1920" height="504" /></a></li>
<li><a href="#"><img src="./img/23130375.jpg" width="1920" height="504" /></a></li>
<li><a href="#"><img src="./img/231303759748851.jpg" width="1920" height="504" /></a></li>

          </ul>
        </div>
      </div>
    </div>
    <a class="prev" href="javascript:void(0)"></a> <a class="next" href="javascript:void(0)"></a> 
    <script>
                var s_count = $(".banner_box_pc ._pic img").length;
                var s_li = "";
                for (j = 1; j <= s_count; j++) { s_li += "<li></li>"; }
                $(".banner_box_pc > ._btn").html("<ul>" + s_li + "</ul>");
                var btn = 1920 - $(".banner_box_pc ._btn").width();
                var btnl = btn / 2;
                $(".banner_box_pc ._btn").css("left", btnl + "px");
                jQuery(".banner_box_pc").slide({ titCell: "._btn li", mainCell: "._pic ul", effect: "fold", autoPlay: true, delayTime: 1500, interTime: 3000 });
          </script> 
  </div>
  <!--pcbanner结束--> 
  <!--padbanner开始-->
  <div style="height:432px; position: relative;" class="banner_box_pad">
    <div style="position: absolute; left: 50%; margin-left: -500px; top: 0;">
      <div class="pz_slides_4">
        <div class="_btn"></div>
        <div class="_pic">
          <ul>
            <li><a href="<a href='/a/banner/'>幻灯片</a>" target="_blank"><img src="./img/55892845.png" width="1000" height="432" /></a></li>
<li><a href="<a href='/a/banner/'>幻灯片</a>" target="_blank"><img src="./img/1742141.jpg" width="1000" height="432" /></a></li>
<li><a href="<a href='/a/banner/'>幻灯片</a>" target="_blank"><img src="./img/23130375.jpg" width="1000" height="432" /></a></li>
<li><a href="<a href='/a/banner/'>幻灯片</a>" target="_blank"><img src="./img/231303759748851.jpg" width="1000" height="432" /></a></li>

          </ul>
        </div>
        <a class="prev" href="javascript:void(0)"></a> <a class="next" href="javascript:void(0)"></a> </div>
      <script>
                    var s_count = $(".pz_slides_4 ._pic img").length;
                    var s_li = "";
                    for (j = 1; j <= s_count; j++) { s_li += "<li></li>"; }
                    $(".pz_slides_4 > ._btn").html("<ul>" + s_li + "</ul>");
                    var btn = 1000 - $(".pz_slides_4 ._btn").width();
                    var btnl = btn / 2;
                    $(".pz_slides_4 ._btn").css("left", btnl + "px");
                    jQuery(".pz_slides_4").slide({ titCell: "._btn li", mainCell: "._pic ul", effect: "fold", autoPlay: true, delayTime: 1500, interTime: 3000 });
                  </script> 
    </div>
  </div>
  <!--padbanner结束--> 
  <!--phonebanner开始-->
  <div id="slideBox" class="banner_box_phone">
    <div class="bd">
      <ul>
        <li><a class="pic" href="<a href='/a/banner/'>幻灯片</a>" target="_blank"><img src="./img/55892845.png"/></a></li>
<li><a class="pic" href="<a href='/a/banner/'>幻灯片</a>" target="_blank"><img src="./img/1742141.jpg"/></a></li>
<li><a class="pic" href="<a href='/a/banner/'>幻灯片</a>" target="_blank"><img src="./img/23130375.jpg"/></a></li>
<li><a class="pic" href="<a href='/a/banner/'>幻灯片</a>" target="_blank"><img src="./img/231303759748851.jpg"/></a></li>

      </ul>
    </div>
    <div class="hd"> <span class="next"></span>
      <ul>
      </ul>
      <span class="prev"></span> </div>
    <script type="text/javascript">
          TouchSlide({
              slideCell: "#slideBox",
              titCell: ".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
              mainCell: ".bd ul",
              effect: "leftLoop",
              autoPage: true,//自动分页
              autoPlay: true //自动播放
          });
          /*var btn = $('.slideBox').width() - $(".slideBox .hd").width();
          var btnl = btn / 2;
          $(".slideBox .hd").css("right", btnl + "px");*/
      </script> 
  </div>
  <!--phonebanner结束--> 
</div>
<div class="pz_main">
<div class="w_0100 c_0100_bg1" id="ljth">
  <div class="w_1200">
    <div class="c_1200_2">
      <div class="title_1">
        <div class="tit_1">了解大华</div>
        <div class="text_1">
          <p><span style="color: rgb(51, 51, 51); font-family: &#39;Microsoft YaHei&#39;, Helvetica, Arial, sans-serif; font-size: 13.63636302947998px; line-height: 23.99147605895996px; text-indent: 28px; background-color: rgb(246, 246, 246);">作为一家专业化的投资机构，致力于打造国内领先的综合资产管理投资平台。</span></p>
        </div>
      </div>
      <div class="t_1200_1">
        <div class="li_6">
          <div class="l_41"><a href="/a/about/gsjj/" class="bg41_1"></a> </div>
          <div class="l_140">
            <div class="t_140_1"><a href="/a/about/gsjj/">公司简介</a> </div>
            <div class="t_140_2"><a href="/a/about/gsjj/">Talon tianhe</a> </div>
          </div>
          <div class="l_17"></div>
        </div>
        <div class="li_6">
          <div class="l_41"><a href="/a/about/qywh/" class="bg41_2"></a></div>
          <div class="l_140">
            <div class="t_140_1"><a href="企业文化">企业文化</a> </div>
            <div class="t_140_2"><a href="/a/about/qywh/">Vision＆Prospects</a> </div>
          </div>
          <div class="l_17"></div>
        </div>
        <div class="li_6">
          <div class="l_41"><a href="/a/news/" class="bg41_3"></a></div>
          <div class="l_140">
            <div class="t_140_1"><a href="/a/news/">新闻中心</a> </div>
            <div class="t_140_2"><a href="/a/news/">Latest News</a></div>
          </div>
          <div class="l_17"></div>
        </div>
        <div class="li_6">
          <div class="l_41"><a href="/a/contact/" class="bg41_4"></a></div>
          <div class="l_140">
            <div class="t_140_1"><a href="/a/contact/">联系我们</a> </div>
            <div class="t_140_2"><a href="/a/contact/">Contact Us</a></div>
          </div>
          <div class="l_17"></div>
        </div>
      </div>
      <script>
                    $('.li_6').hover(function () {
                        $(this).stop().animate({ padding: ":0 0 10px 0", margin: "12px 0 0 0" });

                    }, function () {
                        $(this).stop().animate({ padding: ":0 0 0 0", margin: "22px 0 0 0" });
                    })
                </script> 
    </div>
  </div>
</div>
<!--首页投资理念-->
<div class="w_0100" style=" overflow:hidden;" id="tzln">
<div class="w_1200"> 
  <!--网页投资理财开始-->
  <div class="c_1200_3">
    <div class="l_1237_ln"><img src="./img/main_img7.png" height="658" width="1237"/></div>
    <div class="r_1222_ln"><img src="./img/main_img7_b.png" height="658" width="1222"/></div>
    <div class="t_1200">项目合伙人计划</div>
    <div class="t_1200_ln2">
      <div class="l_410">
        <div class="t_410_1"><br/>
        </div>
        <div class="t_410_3">作为一家专业化的投资机构，致力于打造国内领先的综合资产管理投资平台。公司已拥有私募股权投资、创业投资、夹层投资、FOF、证券及金融衍生品投资、影视基金投资六大业务板块，依靠泰然集团的财富管理客户网络，为全国超过十万高净值泰然客户提供综合的资产管理服务。</div>
      </div>
      <div class="r_410">
        <div class="tr_410_1"><br/>
        </div>
        <p><br/>
        </p>
        <div class="tr_410_3">我们愿为所有精英敞开大门，对于符合大华投资方向的标的，通过公司的风控后，聘请精英为项目合伙人的形式，联合发布投资产品，共同为为全国超过十万高净值泰然客户提供理财服务，即使投资人的资产增值，同时成就金融精英的个人价值和财富梦想。......</div>
        <p><br/>
        </p>
        <p><a href="/a/about/zc/" target="_self"><img src="./img/6358336364409006214966780.jpg" title="20151117132710.jpg" style="float: right;"/></a> </p>
        <div class="tr_410_4" style="text-align: right;"><br/>
        </div>
      </div>
    </div>
  </div>
  <script  type="text/javascript">
               $(document).ready(
                function () {
                    $("#lefttp").mouseover(function () {
                        $('.l_1237_ln').addClass('hover');
                        $('.r_1222_ln').removeClass('hover');
                    });
                    $("#righttp").mouseover(function () {
                        $('.r_1222_ln').addClass('hover');
                        $('.l_1237_ln').removeClass('hover');
                    });
                });
</script> 
  
  <!--首页大华业务-->
  <div class="w_0100 c_0100_bg3" id="thyw">
    <div class="w_1200">
      <div class="c_1200_4_other">
        <div class="title_3">
          <div class="tit_3">公司业务</div>
          <div class="text_3">
            <div class="l_tit">
              <p>秉承以&quot;专业、严谨、公平、责任&quot;的经营理念，深得社会的广泛认可和一致好评</p>
            </div>
            <div class="r_more"><a href="/a/yewu/s1/" class="a_more">了解更多项目&nbsp;&nbsp;<img src="./img/main_img10.png" width="4" height="7"></a> </div>
          </div>
        </div>
        <div class="t_1200_3">
          <ul>
            
            <li>
              <div class="img_379"><a href="/a/yewu/s1/"><img src="./img/ix1.jpg" width="380" height="190"></a></div>
              <div class="d_321">
                <div class="t_321_1"><a href="/a/yewu/s1/"><nobr>影视投资基金</nobr></a></div>
                <div class="t_321_2"><a href="/a/yewu/s1/" class="a_mnew">更多</a></div>
              </div>
            </li>
            
            <li>
              <div class="img_379"><a href="/a/yewu/s2/"><img src="./img/ix2.jpg" width="380" height="190"></a></div>
              <div class="d_321">
                <div class="t_321_1"><a href="/a/yewu/s2/"><nobr>创业投资及FOF</nobr></a></div>
                <div class="t_321_2"><a href="/a/yewu/s2/" class="a_mnew">更多</a></div>
              </div>
            </li>
            
            <li>
              <div class="img_379"><a href="/a/yewu/s3/"><img src="./img/ix3.jpg" width="380" height="190"></a></div>
              <div class="d_321">
                <div class="t_321_1"><a href="/a/yewu/s3/"><nobr>夹层与信用投资</nobr></a></div>
                <div class="t_321_2"><a href="/a/yewu/s3/" class="a_mnew">更多</a></div>
              </div>
            </li>
            
            <li>
              <div class="img_379"><a href="/a/yewu/s4/"><img src="./img/ix4.jpg" width="380" height="190"></a></div>
              <div class="d_321">
                <div class="t_321_1"><a href="/a/yewu/s4/"><nobr>大华已投资业务</nobr></a></div>
                <div class="t_321_2"><a href="/a/yewu/s4/" class="a_mnew">更多</a></div>
              </div>
            </li>
            
            <li>
              <div class="img_379"><a href="/a/yewu/s6/"><img src="./img/ix5.jpg" width="380" height="190"></a></div>
              <div class="d_321">
                <div class="t_321_1"><a href="/a/yewu/s6/"><nobr>私募股权投资</nobr></a></div>
                <div class="t_321_2"><a href="/a/yewu/s6/" class="a_mnew">更多</a></div>
              </div>
            </li>
            
            <li>
              <div class="img_379"><a href="/a/yewu/s6/"><img src="./img/ix6.jpg" width="380" height="190"></a></div>
              <div class="d_321">
                <div class="t_321_1"><a href="/a/yewu/s6/"><nobr>证券与金融衍生品</nobr></a></div>
                <div class="t_321_2"><a href="/a/yewu/s6/" class="a_mnew">更多</a></div>
              </div>
            </li>
            
          </ul>
        </div>
        <script>
                    $('.t_1200_3 li').hover(function () {
                        $(this).stop().animate({ margin: "0 31px 14px 0" });

                    }, function () {
                        $(this).stop().animate({ margin: "14px 31px 0 0" });
                    })
                </script>
        <div class="btn_0100"><a href="/a/yewu/s1/" class="a_more">了解更多项目&nbsp;&nbsp;<img src="./img/main_img10.png" width="4" height="7"></a> </div>
      </div>
    </div>
  </div>
  <!--首页最新动态-->
  <div class="w_0100" id="xwdt">
    <div class="w_1200">
      <div class="c_1200_4">
        <div class="title_3">
          <div class="tit_3">最新动态</div>
          <div class="text_3">
            <div class="l_tit">了解更多某某科技更多实时动态</div>
            <div class="r_more"><a href="/a/news/" class="a_more">了解更多动态&nbsp;&nbsp;<img src="./img/main_img10.png" width="4" height="7"></a> </div>
          </div>
        </div>
        <div class="t_1200_4">
          <ul>
            <li class="bg1">
              <div class="t_mnew">
                <div class="tit_mnew bod1"><a href="/a/news/hyxw/10.html">还在“看”电影？秦岚邀</a></div>
                <div class="text_mnew">最近大家看电影了嘛？国产片《夏洛特烦恼》票房接近14亿了，全国人均都贡献了一块钱，可见大家有多爱看电影啦~小泰还要告诉大家，这部电影的制作成本才2700万，票房收益整整翻了...</div>
                <div class="time_mnew">2017-03-26</div>
              </div>
            </li>
<li class="bg1">
              <div class="t_mnew">
                <div class="tit_mnew bod1"><a href="/a/news/gsxw/9.html">一乎百医 郑州站</a></div>
                <div class="text_mnew">元代《丹溪心法》有云：“与其救疗于有疾之后，不若摄养于无疾之先。”

这句话说的是，与其等到生病后才积极诊断治疗，不如在没病的时候就摄取养分，提高免疫力，做到未病先...</div>
                <div class="time_mnew">2017-03-26</div>
              </div>
            </li>
<li class="bg1">
              <div class="t_mnew">
                <div class="tit_mnew bod1"><a href="/a/news/gsxw/11.html">解决“信用”痛点，破解</a></div>
                <div class="text_mnew">有数据显示，截至2015年末，全国工商登记中小企业超过2000万家，个体工商户超过5400万户，然而中小微企业融资难、融资贵问题仍旧较为突出，因此也就急需拓宽融资渠道和融资方式，...</div>
                <div class="time_mnew">2017-03-26</div>
              </div>
            </li>

          </ul>
        </div>
        <div class="btn_0100"><a href="/a/news/" class="a_more">了解更多项目&nbsp;&nbsp;<img src="./img/main_img10.png" width="4" height="7"></a> </div>
      </div>
    </div>
  </div>
</div>
<div class="pf_right">
  <div class="t_41"><a href="#" id="fhtop"><img src="./img/down_img8.png" width="41" height="47"></a></div>
  <div class="t_41_2">
    <div class="con_15_1"><a href="#" id="ljth_h">
      <div class="pf_left_text">了解大华</div>
      </a></div>
    <div class="con_15_1"><a href="#" id="tzln_h">
      <div class="pf_left_text">投资理念</div>
      </a></div>
    <div class="con_15_1"><a href="#" id="thyw_h">
      <div class="pf_left_text">大华业务</div>
      </a></div>
    <div class="con_15_1"><a href="#" id="xwdt_h">
      <div class="pf_left_text">最新动态</div>
      </a></div>
  </div>
</div>

<div class="pz_down"> 
  <!--底部开始手机用另外一个底-->
  <div class="w_0100 c_0100_bg4">
    <div class="w_1200">
      <div class="c_1200_5">
        <div class="t_1200_5">
          <div class="l_790">  <a href="/a/about/gsjj/" target="_self">走进我们</a>  <a href="/a/yewu/s1/" target="_self">公司业务</a>  <a href="/a/news/" target="_self">新闻中心</a>  <a href="/a/contact/" target="_self">联系我们</a>  </div>
          <div class="r_215">
            <div class="pz_select_2"  > <span>友情链接</span>
              <ul>
                
                <li> ThinkPHP交流群  </li>
                <li> 635209627  </li>
                
              </ul>
              <input name="ShowType" id="ShowType" type="hidden" value="" />
            </div>
            <script>
                        var xl = $(".r_215 .pz_select_2");
                        $(xl).click(function () {
                            var yc = $(this).children("ul").css("display");
                            if (yc == "none") {
                                $(".r_215 .pz_select_2 ul").hide();
                                $(this).children("ul").show();
                                $(".pf_xl").show();
                            } else { $(this).children("ul").hide(); $(".pf_xl").hide(); }
                        })

          </script> 
          </div>
        </div>
        <div class="t_1200_6">
          <div class="l_790_2">
            <p> 全国免费咨询电话：tp5交流群：635209627 <br/>
              公司名称<span>：</span>tp5交流群：635209627科技有限公司 <br/>
              &nbsp;公司地址<span>：</span>tp5交流群：635209627<br/>
              版权所有:Copyright &copy; 2002-2017 tp5交流群：635209627 版权所有 </p>
          </div>
          <div class="r_105">
            <div class="weixin"> <a href="#" class="dbg1" style="position:relative; z-index:1;">
              <div class="pf_wx">
                <div class="wximg">
                  <p><img src="./img/6358034065306001681703050.jpg" height="97" width="99" title="down_img7.jpg"/></p>
                </div>
              </div>
              </a> </div>
            <div class="weibo">
              <p><a href="http://weibo.com/gooxao " target="_blank" class="dbg2">&nbsp;</a></p>
            </div>
            <div class="fenxiang"><a href="#" id="bshare-shareto" class="dbg3 jiathis"  target="_blank"  ></a></div>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script></div>
        </div>
      </div>
      <!--手机版底部-->
      <div class="c_1200_6">
        <div class="t_0100_5">  <a href="/a/about/gsjj/" target="_self">走进我们</a>  <a href="/a/yewu/s1/" target="_self">公司业务</a>  <a href="/a/news/" target="_self">新闻中心</a>  <a href="/a/contact/" target="_self">联系我们</a>  </div>
        <div class="t_0100_6">
          <div class="l_45">
            <div class="pz_select_3"  > <span>友情链接</span>
              <ul>
                
                <li> ThinkPHP交流群  </li>
                <li> 635209627  </li>
                
              </ul>
              <input name="ShowType" id="Hidden1" type="hidden" value="" />
            </div>
            <script>
                var xl = $(".l_45 .pz_select_3");
                $(xl).click(function () {
                    var yc = $(this).children("ul").css("display");
                    if (yc == "none") {
                        $(".l_45 .pz_select_3 ul").hide();
                        $(this).children("ul").show();
                        $(".pf_xl").show();
                    } else { $(this).children("ul").hide(); $(".pf_xl").hide(); }
                })
                        </script> 
          </div>
          <div class="l_105">
            <div class="weixin"> <a href="#" class="dbg1" style="position:relative; z-index:1;">
              <div class="pf_wx">
                <div class="wximg">
                  <p><img src="./img/6358034065306001681703050.jpg" height="97" width="99" title="down_img7.jpg"/></p>
                </div>
              </div>
              </a> </div>
            <div class="weibo">
              <p><a href="http://weibo.com/gooxao" target="_blank" class="dbg2">&nbsp;</a></p>
            </div>
            <div class="fenxiang"><a href="#" id="bshare-shareto" class="dbg3 jiathis"  target="_blank"  ></a></div>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script> 
          </div>
        </div>
        <div class="t_0100_7">
          <p>Copyright &copy; 2002-2017 tp5交流群：635209627 版权所有<br/>
            全国免费咨询电话：tp5交流群：635209627 &nbsp;公司地址<span>：</span>tp5交流群：635209627</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body></html> 
