<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>project</title>
    <script src="__PUBLIC__/static/admin/style/js/jquery.js"></script>
    <script src="__PUBLIC__/static/admin/style/js/pintuer.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/static/index/style/bootstrap/css/bootstrap.min.css">
    <link rel="icon" href="__PUBLIC__/static/index/images/favicon.ico">
    <link rel="shortcut icon" href="__PUBLIC__/static/index/images/favicon.ico">
    <link rel="stylesheet" href="__PUBLIC__/static/index/style/css/list.css">
    <link rel="stylesheet" href="__PUBLIC__/static/index/style/css/style.css">
    <script src="__PUBLIC__/static/index/style/js/jquery.js"></script>
    <script src="__PUBLIC__/static/index/style/js/jquery-migrate-1.1.1.js"></script>
    <script src="__PUBLIC__/static/index/style/js/jquery.equalheights.js"></script>
    <script src="__PUBLIC__/static/index/style/js/main.js"></script>
    <script src="__PUBLIC__/static/index/style/js/jquery.ui.totop.js"></script>
    <script src="__PUBLIC__/static/index/style/js/jquery.easing.1.3.js"></script>
    <script src="__PUBLIC__/static/index/style/js/m.js"></script>
    <script>
    $(document).ready(function(){
      $().UItoTop({ easingType: 'easeOutQuart' });
    })
    </script>
    <!--[if lt IE 8]>
    <div style=' clear: both; text-align:center; position: relative;'>
      <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
        <img src="http://storage.ie6countdown.com/assets/100/__PUBLIC__/static/index/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
      </a>
    </div>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/static/index/style/js/html5shiv.js"></script>
    <link rel="stylesheet" media="screen" href="__PUBLIC__/static/index/style/css/ie.css">
    <![endif]-->
    <!--[if lt IE 10]>
    <link rel="stylesheet" media="screen" href="__PUBLIC__/static/index/style/css/ie1.css">
    <![endif]-->
  </head>
  <body class="">
<!--==============================header=================================-->
  {include file="common/header" /}
<!--==============================Content=================================-->
    
      <div class="container_12">
        <div class="grid_12">
          <h2 class="mb0">Our project</h2>
        </div>
      </div>
    </div>
    <div class="gray_block gb1">
      <div class="container_12">
        <div class="grid_12">
          <div class="responsive">
            <ul class="a_content">
<!-- 1 -->
            {volist name='project' id='vo'}
              <li>
                <div class="card-front">
                  <div class="text2">{$vo.ProjectName}</div>
                  <p>{$vo.ProjectInfo}</p>
                </div>
                <div class="card-back">
                  <h2><a href="#">Click here</a></h2>
                </div>
                <!-- Content -->
                <div class="all-content">
                  <div class="text2">{$vo.ProjectName}</div>
                  <p>{$vo.ProjectInfo}</p>
                  <img src="__PUBLIC__/static/projfile/{$vo.Pic}" alt="{$vo.Alt}">
                  <p>{$vo.Alt}</p>
                  <p><a href="../__PUBLIC__/static/uploads/{$vo.Finfile}" style="color:#2673b4;text-decoration:underline;" download="__PUBLIC__/static/uploads/{$vo.Finfile}">项目详情</a></p>
                </div>
              </li>
             {/volist}
            </ul>
          </div>
        </div>
      </div>
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <th width="30%"></th>
          <th width="40%">{$project|raw}</th>
          <th width="30%"></th>
        </tr>
        </table>
    </div>
     
<!--==============================footer=================================-->
   {include file="common/footer" /}
    <script>
    $(document).ready(function(){
      $(".bt-menu-trigger").toggle(
        function(){
          $('.bt-menu').addClass('bt-menu-open');
        },
        function(){
          $('.bt-menu').removeClass('bt-menu-open');
        }
      );
      $('.responsive').on('click', '.close', function(){
        $('.close').remove();
        bgColor = $('.active .card-front').css('background-color');
        $('.responsive').removeClass(effect);
        $('.all-content').hide();
        $('.content li').removeClass('active').show().css({ 
          'border-bottom':'1px solid #2c2c2c',
          'border-left':'1px solid #2c2c2c' 
        });
        $('.card-front, .card-back').show();
        $('.content').css('background-color',bgColor);
      });
    });
    </script>
  </body>
</html>