<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Projects</title>
		<link rel="stylesheet" href="__PUBLIC__/static/admin/style/css/pintuer.css">
		<link rel="stylesheet" href="__PUBLIC__/static/admin/style/css/admin.css">
		<script src="__PUBLIC__/static/admin/style/js/jquery.js"></script>
		<script src="__PUBLIC__/static/admin/style/js/pintuer.js"></script>
		<link rel="stylesheet" href="__PUBLIC__/static/index/style/bootstrap/css/bootstrap.min.css">
		<link rel="icon" href="__PUBLIC__/static/index/images//favicon.ico">
		<link rel="shortcut icon" href="__PUBLIC__/static/index/images//favicon.ico">
		<link rel="stylesheet" href="__PUBLIC__/static/index/style/css/touchTouch.css">
		<link rel="stylesheet" href="__PUBLIC__/static/index/style/css/style.css">
		<script src="__PUBLIC__/static/index/style/js/jquery.js"></script>
		<script src="__PUBLIC__/static/index/style/js/jquery-migrate-1.1.1.js"></script>
		<script src="__PUBLIC__/static/index/style/js/jquery.equalheights.js"></script>
		<script src="__PUBLIC__/static/index/style/js/jquery.ui.totop.js"></script>
		<script src="__PUBLIC__/static/index/style/js/jquery.easing.1.3.js"></script>
		<script src="__PUBLIC__/static/index/style/js/touchTouch.jquery.js"></script>
		<script>
		$(document).ready(function(){
			$().UItoTop({ easingType: 'easeOutQuart' });
			$('.gallery a.gal').touchTouch();
		})
		</script>
		<!--[if lt IE 8]>
		<div style=' clear: both; text-align:center; position: relative;'>
			<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
				<img src="http://storage.ie6countdown.com/assets/100/__PUBLIC__/static/index/images//banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
			</a>
		</div>
		<![endif]-->
		<!--[if lt IE 9]>
		<script src="__PUBLIC__/static/index/style/js/html5shiv.js"></script>
		<link rel="stylesheet" media="screen" href="__PUBLIC__/static/index/style/css/ie.css">
		<![endif]-->
		<!--[if lt IE 10]>
		<link rel="stylesheet" media="screen" href="__PUBLIC__/static/index/style/css/ie1.css">
		<![endif]-->
	</head>
	<body class="">
<!--==============================header=================================-->
		  {include file="common/header" /}
<!--==============================Content=================================-->
		<div class="content cont2"><div class="ic" <a href="" ></a> - </div>
			<div class="container_12">
				<div class="grid_12">
					<h2 class="mb0">Our Projects</h2>
				</div>
			</div>
		</div>


		<div class="gray_block gb1">
			<div class="container_12">
				<div class="gallery">


					<div class="grid_3">
						<a href="__PUBLIC__/static/index/images//big1.jpg" class="gal"><img src="__PUBLIC__/static/index/images//page4_img1.jpg" alt=""></a>
						<div class="text1"><a href="#">Hom dui erosi laoru adip</a></div>
						In mollis erat mattisy nequelisis sit amet ultricieser erarutrum. Cras facilisis, nulla vel viverra
						<br>
						<a href="#" class="btn">more</a>
					</div>

					
					<div class="grid_3">
						<a href="__PUBLIC__/static/index/images//big2.jpg" class="gal bd1"><img src="__PUBLIC__/static/index/images//page4_img2.jpg" alt=""></a>
						<div class="text1"><a href="#">Vivamus at magna non</a></div>
						Fermollis erat mattisy nequelisis, sit amet ultricieser erarutrum. Cras facilisis, nulla vel viverra
						<br>
						<a href="#" class="btn">more</a>
					</div>
					<div class="grid_3">
						<a href="__PUBLIC__/static/index/images//big3.jpg" class="gal bd2"><img src="__PUBLIC__/static/index/images//page4_img3.jpg" alt=""></a>
						<div class="text1"><a href="#">Curabitur vel lorem sit</a></div>
						In mollis erat mattisy nequelisis, sit amet ultricieser erarutrum. Cras facilisis, nulla vel viverra
						<br>
						<a href="#" class="btn">more</a>
					</div>
					<div class="grid_3">
						<a href="__PUBLIC__/static/index/images//big4.jpg" class="gal bd3"><img src="__PUBLIC__/static/index/images//page4_img4.jpg" alt=""></a>
						<div class="text1"><a href="#">Phasellus erat nisuctor</a></div>
						Hhol mollis erat mattisy kilomi nequelisis, sit amet ultricieser erarutrum. Cras facilisisolo
						<br>
						<a href="#" class="btn">more</a>
					</div>
					<div class="clear"></div>
					<div class="grid_3">
						<a href="__PUBLIC__/static/index/images//big5.jpg" class="gal"><img src="__PUBLIC__/static/index/images//page4_img5.jpg" alt=""></a>
						<div class="text1"><a href="#">Etiam dui eros, laoreet</a></div>
						Mollis erat mattisy nequelisis, sit amet ultricieser erarutrum. Cras facilisis, nulla vel viverra aucto
						<br>
						<a href="#" class="btn">more</a>
					</div>
					<div class="grid_3">
						<a href="__PUBLIC__/static/index/images//big6.jpg" class="gal bd1"><img src="__PUBLIC__/static/index/images//page4_img6.jpg" alt=""></a>
						<div class="text1"><a href="#">Dui eroslaoreetdui ero</a></div>
						In mollis erat mattisy nequelisis, sit amet ultricieser erarutrum. Cras facilisis, nulla vel viverra
						<br>
						<a href="#" class="btn">more</a>
					</div>
					<div class="grid_3">
						<a href="__PUBLIC__/static/index/images//big7.jpg" class="gal bd2"><img src="__PUBLIC__/static/index/images//page4_img7.jpg" alt=""></a>
						<div class="text1"><a href="#">A at magna noru adip</a></div>
						Hlottisy nequelisis, sit ametyter ultricieser erarutrum. Crasyto facilisis, nulla vel viverra auc
						<br>
						<a href="#" class="btn">more</a>
					</div>
					<div class="grid_3">
						<a href="__PUBLIC__/static/index/images//big8.jpg" class="gal bd3"><img src="__PUBLIC__/static/index/images//page4_img8.jpg" alt=""></a>
						<div class="text1"><a href="#">Retui erosi laoru adip</a></div>
						Koliu erat mattisy nequelisis, sit amet ultricieser erarutrum. Cras facilisis, nulla vel viverra auctom
						<br>
						<a href="#" class="btn">more</a>
					</div>
				</div>
			</div>
		</div>
<!--==============================footer=================================-->
		  {include file="common/footer" /}
		<script>
		$(document).ready(function(){
			$(".bt-menu-trigger").toggle(
				function(){
					$('.bt-menu').addClass('bt-menu-open');
				},
				function(){
					$('.bt-menu').removeClass('bt-menu-open');
				}
			);
			$('.responsive').on('click', '.close', function(){
				$('.close').remove();
				bgColor = $('.active .card-front').css('background-color');
				$('.responsive').removeClass(effect);
				$('.all-content').hide();
				$('.content li').removeClass('active').show().css({ 
					'border-bottom':'1px solid #2c2c2c',
					'border-left':'1px solid #2c2c2c' 
				});
				$('.card-front, .card-back').show();
				$('.content').css('background-color',bgColor);
			});
		});
		</script>
	</body>
</html>