<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>  
     <link rel="stylesheet" href="__PUBLIC__/static/index/style/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/static/admin/style/css/pintuer.css">
    <link rel="stylesheet" href="__PUBLIC__/static/admin/style/css/admin.css">
    <script src="__PUBLIC__/static/admin/style/js/jquery.js"></script>
    <script src="__PUBLIC__/static/admin/style/js/pintuer.js"></script>  
</head>
<body>
<div class="panel admin-panel">
  <form method="post" class="form-x" action="">
  <div class="panel-head"><strong class="icon-reorder">已完成项目列表</strong></div>
  <div class="padding border-bottom">
      <ul class="search">
        <li>
          <a class="button border-blue" href="{:url('member/listproject')}"><span class="icon-reply"></span>返回</a>
        </li>
      </ul>
    </div>
  <table class="table table-hover text-center">
    <tr>
      
      <th width="10%">项目名称</th>
      <th width="15%">项目概括</th>
      <th width="10%"><span class="icon-cloud-download"></span>甲方需求</th>
      <th width="10%">开始时间</th>
      <th width="10%">预计完成时间</th>
      <th width="10%">成员</th>
    </tr>
   {volist name='project' id='vo'}<!--每次循环的时候都把数据复制给vo,而这里的name的值要与assign()函数里的第一个参数保持一致,list为数组，所以也可以用foreach输出-->
    <tr>
      <td width="5%">{$vo.ProjectName}</td>
      <td width="10%">{$vo.ProjectInfo}</td>
       <th width="10%"><a href="__PUBLIC__/static/uploads/{$vo.File}" style="color:#2673b4;text-decoration:underline;" download="__PUBLIC__/static/uploads/{$vo.File}">项目相关文件</a></th>
      <td>{$vo.StartTime}</td>
      <td>{$vo.TerminalTime}</td>
      <td><a href="{:url('member/projectmem',array('id'=>$vo['Id']))}" class="btn btn-primary btn-sm shiny">参与成员</a></td>
     </tr>
    {/volist}
  </table>
  </div>
   <table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <th width="30%"></th>
    <th width="40%">{$project|raw}</th>
    <th width="30%"></th>
  </tr>
</table>
</form>
</body></html>