<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>我的主页</title>
    <link rel="stylesheet" href="__PUBLIC__/static/index/style/bootstrap/css/bootstrap.min.css">   
    <link rel="stylesheet" href="__PUBLIC__/static/admin/style/css/pintuer.css">
    <link rel="stylesheet" href="__PUBLIC__/static/admin/style/css/admin.css">
    <script src="__PUBLIC__/static/admin/style/js/jquery.js"></script>   
</head>
<body style="background-color:#f2f9fd;">
{include file="common/top" /}
{include file="common/left" /}

<script type="text/javascript">
$(function(){
  $(".leftnav h2").click(function(){
    $(this).next().slideToggle(200);  
    $(this).toggleClass("on"); 
  })
  $(".leftnav ul li a").click(function(){
      $("#a_leader_txt").text($(this).text());
      $(".leftnav ul li a").removeClass("on");
    $(this).addClass("on");
  })
});
</script>
<ul class="bread">
  <li><a href="##" class="icon-home"> 首页</a></li>
  <li><a href="##" id="a_leader_txt">网站信息</a></li>
  <li><b>当前语言：</b><span style="color:red;">中文</php></span>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;切换语言：<a href="##">中文</a> &nbsp;&nbsp;<a href="##">英文</a> </li>
</ul>



<div class="admin">
  <iframe scrolling="auto" rameborder="0" src="{:url('member/listproject')}" name="right" width="100%" height="100%">
    </iframe>
</div>

<div style="text-align:center;">

</div>
</body>
</html>