<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="__PUBLIC__/static/index/style/bootstrap/css/bootstrap.min.css">  
    <link rel="stylesheet" href="__PUBLIC__/static/admin/style/css/pintuer.css">
    <link rel="stylesheet" href="__PUBLIC__/static/admin/style/css/admin.css">
    <script src="__PUBLIC__/static/admin/style/js/jquery.js"></script>
    <script src="__PUBLIC__/static/admin/style/js/pintuer.js"></script>  
</head>
<body>
<form method="post" action="">
  <div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 留言</strong></div>
  
    <table class="table table-hover text-center">
      <tr>
        <th>姓名</th>
        <th>电话</th>
        <th>邮箱</th>
        <th width="25%">留言内容</th>
         <th width="120">留言时间</th>
      </tr>
         {volist name='book' id='vo'}
        <tr>
          <td>{$vo.Name}</td>
          <td>{$vo.Tel}</td> 
          <td><a href="mailto:{$vo.Email}" style="color:#2673b4; text-decoration:underline;">{$vo.Email}</a></td>   
          <td>{$vo.Content}</td>
          <td>{$vo.Timestamp}</td>
        </tr>
      {/volist}
    </table>
  </div>
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <th width="30%"></th>
    <th width="40%">{$book|raw}</th>
    <th width="30%"></th>
  </tr>
</table>
</form>
</body></html>