<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>管理员信息列表</title>  
    <link rel="stylesheet" href="__PUBLIC__/static/admin/style/css/pintuer.css">
    <link rel="stylesheet" href="__PUBLIC__/static/admin/style/css/admin.css">
    <script src="__PUBLIC__/static/admin/style/js/jquery.js"></script>
    <script src="__PUBLIC__/static/admin/style/js/pintuer.js"></script>  
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong class="icon-reorder"> 管理员列表</strong></div>
<div class="padding border-bottom">
      <ul class="search">
        <li>
          <button type="button"  class="button border-green" id="checkall"><span class="icon-check"></span> 全选</button>
           <a class="button border-yellow" href="{:url('addadmin/add')}"><span class="icon-plus-square-o"></span> 添加成员</a>
          <button type="submit" class="button border-red"><span class="icon-trash-o"></span> 批量删除</button>
        </li>
      </ul>
    </div>
  <table class="table table-hover text-center">
    <tr>
      <th width="5%">ID</th>     
      <th>标题</th>  
      <th>图片</th>
      <th width="250">分类</th>
      <th>其他属性</th>
      <th>描述</th>
      <th>内容</th>
      <th>排序</th>
      <th>作者</th>
      <th>点击次数</th>
      <th>编辑内容</th>
    </tr>
   {volist name='column' id='vo'}<!--每次循环的时候都把数据复制给vo,而这里的name的值要与assign()函数里的第一个参数保持一致,list为数组，所以也可以用foreach输出-->
    <tr>
       <td><input type="checkbox" name="id[]" value="1" />
            {$vo.Id}</td>
          
      <td>{$vo.UserName}</td>
      <td>{$vo.TimeStamp}</td>
      <td>
      <div class="button-group">
      <a type="button" class="button border-main" href="{:url('addadmin/update',array('id'=>$vo['Id']))}"><span class="icon-edit"></span>修改</a>


      {if $vo.Id !=1 && $vo.Id != $Request.session.uid}
       <a class="button border-red"  onclick="return del()" href="{:url('addadmin/del',array('id'=>$vo['Id']))}"><span class="icon-trash-o"></span>删除</a>
      {/if}

 
      </div>
      </td>
    </tr> 
    {/volist}
  </table>
  {$column|raw}
  </div>
 <script type="text/javascript">

function del(){
  if(confirm("您确定要删除吗?\n\n请确认！"))
  {
    return true;
  }
  else
  {
    return false;
  }
}

$("#checkall").click(function(){ 
  $("input[name='id[]']").each(function(){
    if (this.checked) {
      this.checked = false;
    }
    else {
      this.checked = true;
    }
  });
})

function DelSelect(){
  var Checkbox=false;
   $("input[name='id[]']").each(function(){
    if (this.checked==true) {   
    Checkbox=true;  
    }
  });
  if (Checkbox){
    var t=confirm("您确认要删除选中的内容吗？");
    if (t==false) return false;     
  }
  else{
    alert("请选择您要删除的内容!");
    return false;
  }
}

</script>

</body></html>