<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="__PUBLIC__/static/admin/style/css/pintuer.css">
<link rel="stylesheet" href="__PUBLIC__/static/admin/style/css/admin.css">
<script src="__PUBLIC__/static/admin/style/js/jquery.js"></script>
<script src="__PUBLIC__/static/admin/style/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-key"></span> 修改栏目信息</strong></div>
  <div class="body-content">

    <input type="hidden" value="{$column.Id}" name="id">

    <form method="post" class="form-x" action="">
      <div class="form-group">
        <div class="label">
          <label for="sitename">栏目名称：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" id="username" name="username"  size="50" value="{$column.Cname}" placeholder="修改栏目名称" data-validate="required:输入栏目名称" />       
        </div>
      </div>  
      <div class="form-group">
        <div class="label">
          <label for="sitename">显示状态：</label>
        </div>
        <div class="field">
      <input type="number" class="input w50" size="50" min="0" max="1" name="status"  value="{$column.Status}" placeholder="栏目状态" data-validate="required:栏目状态"/><p style="color:red">*0为禁用,*1为显示</p>
      </div>
    </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-repeat" type="reset"> 取消</button>
          <button class="button bg-main icon-check-square-o" type="submit"> 修改</button>   
        </div>
      </div>      
    </form>
  </div>
</div>
</body></html>