    <footer class="footer">
      <div class="footer-main">
        <div id="a1portalSkin_footerAreaA" class="page-width clearfix"><!-- Start_Module_89208 --><a name="31438" id="31438"></a>
          <div class="module-default">
            <div class="module-inner">
              <div id="a1portalSkin_ctr8920889208_mainArea" class="module-content"><!-- Start_Module_89208 -->
                <div class="qhd-module">
                  <div class="column">
                 <div class="col-5-1">
                   <div id="a1portalSkin_ctr8920889208_Column4C20A20A20A40_QHDCPM89208M1" class="qhd_column_contain"><!-- Start_Module_89209 --><a name="31439" id="31439"></a>
                        <div class="module-default">
                          <div class="module-inner">
                            <div class="module-title module-title-default clearfix">
                              <div class="module-title-content clearfix">
                                <h3 style="" class="">服务支持</h3>
                              </div>
                            </div>
                            <div id="a1portalSkin_ctr8920889208_Column4C20A20A20A40_ctr8920989209_mainArea" class="module-content"><!-- Start_Module_89209 --><!-- S link-line -->
                              <div class="link link-block">
                                <ul>
                                  <li><a href="/a/guanyuwomen/gongsijianjie/" target=""><span>业务合作</span></a></li>
                                  <li><a href="/a/guanyuwomen/gongsijianjie/" target=""><span>关于我们</span></a></li>
                                  <li><a href="/a/guanyuwomen/gongsijianjie/" target=""><span>公司简介</span></a></li>
                                  <li><a href="/a/guanyuwomen/gongsijianjie/" target=""><span>旗下网站</span></a></li>
                                </ul>
                              </div>
                              <!-- E link-line --><!-- End_Module_89209 --></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-5-1">
                   <div id="a1portalSkin_ctr8920889208_Column4C20A20A20A40_QHDCPM89208M1" class="qhd_column_contain"><!-- Start_Module_89209 --><a name="31439" id="31439"></a>
                        <div class="module-default">
                          <div class="module-inner">
                            <div class="module-title module-title-default clearfix">
                              <div class="module-title-content clearfix">
                                <h3 style="" class="">联系我们</h3>
                              </div>
                            </div>
                            <div id="a1portalSkin_ctr8920889208_Column4C20A20A20A40_ctr8920989209_mainArea" class="module-content"><!-- Start_Module_89209 --><!-- S link-line -->
                              <div class="link link-block">
                                <ul>
                                  <li><a href="/a/guanyuwomen/gongsijianjie/" target=""><span>Tel：</span></a></li>
                                  <li><a href="/a/guanyuwomen/gongsijianjie/" target=""><span>401-203-102</span></a></li>
                                  <li><a href="#" target=""><span>地址:</span></a></li>
                                  <li><a href="#" target=""><span>Email:</span></a></li>
                                </ul>
                              </div>
                              <!-- E link-line --><!-- End_Module_89209 --></div>
                          </div>
                        </div>
                      </div>
                    </div>
                   <div class="col-5-1">
                   <div id="a1portalSkin_ctr8920889208_Column4C20A20A20A40_QHDCPM89208M1" class="qhd_column_contain"><!-- Start_Module_89209 --><a name="31439" id="31439"></a>
                        <div class="module-default">
                          <div class="module-inner">
                            <div class="module-title module-title-default clearfix">
                              <div class="module-title-content clearfix">
                                <h3 style="" class="">友情链接</h3>
                              </div>
                            </div>
                            <div id="a1portalSkin_ctr8920889208_Column4C20A20A20A40_ctr8920989209_mainArea" class="module-content"><!-- Start_Module_89209 --><!-- S link-line -->
                              <div class="link link-block">
                                <ul>
                                  <li><a href="#" target=""><span></span></a></li>
                                </ul>
                              </div>
                              <!-- E link-line --><!-- End_Module_89209 --></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-5-2 last">
                      <div id="a1portalSkin_ctr8920889208_Column4C20A20A20A40_QHDCPM89208M4" class="qhd_column_contain"><!-- Start_Module_89212 --><a name="31442" id="31442"></a>
                        <div class="module-default">
                          <div class="module-inner">
                            <div class="module-title module-title-default clearfix">
                              <div class="module-title-content clearfix">
                                <h3 style="" class="">河南理工大学计算机学院</h3>
                              </div>
                            </div>
                            <div id="a1portalSkin_ctr8920889208_Column4C20A20A20A40_ctr8921289212_mainArea" class="module-content"><!-- Start_Module_89212 -->
                              <div class="qhd-content">
                                <p> ICP备********号 &nbsp; &nbsp;Copyright © 2014-2016  工作室 版权所有 </p>
                              </div>
                    <!-- End_Module_89212 --></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End_Module_89208 --></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    