<footer>
      <div class="container_12">
        <div class="grid_12">
          <div class="socials">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google-plus"></a>
          </div>
          <div class="clear"></div>
          <div class="copy">
            BizGroup &copy; 2018 | <a href="#">合作愉快</a> <br> 版权 <a href="#" rel="nofollow">
            </a>
          </div>
        </div>
      </div>
    </footer>