		<header>
			<div class="container_12">
				<div class="grid_12">
					<h1><a href="{:url('index/index')}"><img src="__PUBLIC__/static/index/images/logo.png" alt="Boo House"></a></h1>
					<div class="menu_block">
						<nav id="bt-menu" class="bt-menu">
							<a href="#" class="bt-menu-trigger"><span>Menu</span></a>
							<ul>
								<li class="current bt-icon"><a href="{:url('index/index')}">首页</a></li>
								<li class="bt-icon"><a href="{:url('aboutus/aboutus')}" target="_blank">关于我们</a></li>
								<li class="bt-icon"><a href="{:url('services/services')}">技术服务</a></li>
								<li class="bt-icon"><a href="{:url('project/project')}">项目工程</a></li>
								<li class="bt-icon"><a href="{:url('blog/blog')}">博客新闻</a></li>
								<li class="bt-icon"><a href="{:url('contact/contact')}">联系我们</a></li>
							</ul>
						</nav>
						<!-- <form method="get" action="{:url('search/search')}">
							<div>
								<span class="input-icon">
                                    <input type="text" class="form-control" id="fontawsome-search" placeholder="Search">
                                    <input type="submit" name="keywords" value="搜索">
                                    <i class="glyphicon glyphicon-search circular blue"></i>
                                </span></div>
							</form> -->
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</header>