<nav class="nav">
<div class="main-nav clearfix" skinobjectzone="menu_461">
<ul class="sf-menu">
<li class='current'><a class="first-level" href="/" target=""><strong>网站首页</strong></a><i></i></li>
<li class=""><a class="first-level" href="__PUBLIC__/index.php/index/cate" target="_blank"><strong>项目</strong></a><i></i></li>
<li class=""><a class="first-level" href="/a/guanyuwomen/gongsijianjie/" target=""><strong>关于我们</strong></a><i></i>
<ul class="">
<li class=""><a class="" href="/a/guanyuwomen/gongsijianjie" target=""><strong>公司简介</strong></a></i></li><li class=""><a class="" href="/a/guanyuwomen/shengchanjidi" target=""><strong>生产基地</strong></a></i></li><li class=""><a class="" href="/a/guanyuwomen/zizhirongyu" target=""><strong>资质荣誉</strong></a></i></li>
</ul>
</li><li class=""><a class="first-level" href="#" target=""><strong>新闻动态</strong></a><i></i>
<ul class="">
<li class=""><a class="" href="__PUBLIC__/index.php/index/artical" target=""><strong>公司新闻</strong></a></i></li><li class=""><a class="" href="/a/xinwendongtai/xingyedongtai" target=""><strong>行业动态</strong></a></i></li>
</ul>
</li><li class=""><a class="first-level" href="/a/chanpinzhongxin/chanpinfenleiyi/" target=""><strong>产品中心</strong></a><i></i>
<ul class="">
<li class=""><a class="" href="/a/chanpinzhongxin/chanpinfenleiyi" target=""><strong>产品分类一</strong></a></i></li><li class=""><a class="" href="/a/chanpinzhongxin/chanpinfenleier" target=""><strong>产品分类二</strong></a></i></li>
</ul>
</li><li class=""><a class="first-level" href="/a/jishufuwu/yanjiuchengguo/" target=""><strong>技术服务</strong></a><i></i>
<ul class="">
<li class=""><a class="" href="/a/jishufuwu/yanjiuchengguo" target=""><strong>研究成果</strong></a></i></li>
</ul>
</li><li class=""><a class="first-level" href="/a/lianxiwomen/" target=""><strong>联系我们</strong></a><i></i>
<ul class="">
</ul>
</li>
</ul>
</div>
</nav>
  
<div class="language float-right" skinobjectzone="HtmlLanguage_1268">
<ul class="sf-menu">
<li><a href="javascript:;" class="first-level"><span><em>中文简体</em></span></a>
<ul>
<li><a href="/en/"><span><em>English</em></span></a></li>
<li><a href="/"><span><em>中文简体</em></span></a></li>
</ul>
</li>
</ul>
</div>
 </div>
</div>