<div id="a1portalSkin_fixed-left" class="QHDEmptyArea fixed-side fixed-left"></div>
  <!-- E fixed-side --><!-- S fixed-side -->
  <div id="a1portalSkin_fixed-right" class="fixed-side fixed-right"><!-- Start_Module_89218 --><a name="31467" id="31467"></a>
  <div class="module-default">
    <div class="module-inner">
      <div id="a1portalSkin_ctr8921889218_mainArea" class="module-content"><!-- Start_Module_89218 -->
        <div class="link-fixed-side">
          <ul>
            <li class="first"><a href="http://wpa.qq.com/msgrd?v=3&uin=1234567890&site=qq&menu=yes" class="link-name" target="_blank"><i style="background-image:url(__PUBLIC__/static/index/image/c125b589-e76e-49c0-98d7-e6401cb1c361_32_32_uniformfill.png);" alt="合作咨询"></i><span>业务咨询</span></a></li>
            <li class=""><a href="http://wpa.qq.com/msgrd?v=3&uin=1234567890&site=qq&menu=yes" class="link-name" target="_blank"><i style="background-image:url(__PUBLIC__/static/index/image/5d9e132e-a784-4456-8686-4419cc50e854_32_32_uniformfill.png);" alt="在线客服"></i><span>留言</span></a>
               <div class="link-summary">
                <div class="link-summary-content">
                  <div class="qhd-content">
                  姓名:<input type="" name="">
                  电话:<input type="" name="">
                  留言内容:<textarea></textarea>
                  <input type="submit" name="提交">
                </div>
              </div>
            </li>
            <li class=""><a href="javascript:;" class="link-name" target=""><i style="background-image:url(__PUBLIC__/static/index/image/87389d6b-e02e-4c9b-8197-0ea992d705cc_32_32_uniformfill.png);" alt="服务电话"></i><span>电话</span></a>
              <div class="link-summary"><i class="arrow-section-r"></i>
                <div class="link-summary-content">
                  <div class="qhd-content">
                    <p style="text-align:center;">400-123-4567</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <!-- End_Module_89218 --></div>
    </div>
  </div>
</div>