    <footer class="footer">
      <div class="footer-main">
        <div id="a1portalSkin_footerAreaA" class="page-width clearfix"><!-- Start_Module_89208 --><a name="31438" id="31438"></a>
          <div class="module-default">
            <div class="module-inner">
              <div id="a1portalSkin_ctr8920889208_mainArea" class="module-content"><!-- Start_Module_89208 -->
                <div class="qhd-module">
                  <div class="column">
                 <div class="col-5-1">
                      <div id="a1portalSkin_ctr8920889208_Column4C20A20A20A40_QHDCPM89208M1" class="qhd_column_contain"><!-- Start_Module_89209 --><a name="31439" id="31439"></a>
                        <div class="module-default">
                          <div class="module-inner">
                            <div class="module-title module-title-default clearfix">
                              <div class="module-title-content clearfix">
                                <h3 style="" class="">关于我们</h3>
                              </div>
                            </div>
                            <div id="a1portalSkin_ctr8920889208_Column4C20A20A20A40_ctr8920989209_mainArea" class="module-content"><!-- Start_Module_89209 --><!-- S link-line -->
                              <div class="link link-block">
                                <ul>
                                 
                                  <li><a href="/a/guanyuwomen/gongsijianjie/" target=""><span>公司简介</span></a></li>
                                  
                                  <li><a href="/a/guanyuwomen/shengchanjidi/" target=""><span>生产基地</span></a></li>
                                  
                                  <li><a href="/a/guanyuwomen/zizhirongyu/" target=""><span>资质荣誉</span></a></li>
                                   
                                </ul>
                              </div>
                              <!-- E link-line --><!-- End_Module_89209 --></div>
                          </div>
                        </div>
                      </div>
                    </div><div class="col-5-1">
                      <div id="a1portalSkin_ctr8920889208_Column4C20A20A20A40_QHDCPM89208M1" class="qhd_column_contain"><!-- Start_Module_89209 --><a name="31439" id="31439"></a>
                        <div class="module-default">
                          <div class="module-inner">
                            <div class="module-title module-title-default clearfix">
                              <div class="module-title-content clearfix">
                                <h3 style="" class="">新闻动态</h3>
                              </div>
                            </div>
                            <div id="a1portalSkin_ctr8920889208_Column4C20A20A20A40_ctr8920989209_mainArea" class="module-content"><!-- Start_Module_89209 --><!-- S link-line -->
                              <div class="link link-block">
                                <ul>
                                 
                                  <li><a href="/a/xinwendongtai/gongsixinwen/" target=""><span>公司新闻</span></a></li>
                                  
                                  <li><a href="/a/xinwendongtai/xingyedongtai/" target=""><span>行业动态</span></a></li>
                                   
                                </ul>
                              </div>
                              <!-- E link-line --><!-- End_Module_89209 --></div>
                          </div>
                        </div>
                      </div>
                    </div><div class="col-5-1">
                      <div id="a1portalSkin_ctr8920889208_Column4C20A20A20A40_QHDCPM89208M1" class="qhd_column_contain"><!-- Start_Module_89209 --><a name="31439" id="31439"></a>
                        <div class="module-default">
                          <div class="module-inner">
                            <div class="module-title module-title-default clearfix">
                              <div class="module-title-content clearfix">
                                <h3 style="" class="">贸易与合作</h3>
                              </div>
                            </div>
                            <div id="a1portalSkin_ctr8920889208_Column4C20A20A20A40_ctr8920989209_mainArea" class="module-content"><!-- Start_Module_89209 --><!-- S link-line -->
                              <div class="link link-block">
                                <ul>
                                 
                                  <li><a href="/a/maoyiyuhezuo/guojimaoyi/" target=""><span>国际贸易</span></a></li>
                                  
                                  <li><a href="/a/maoyiyuhezuo/guojiquyujingxiao/" target=""><span>国际区域经销</span></a></li>
                                  
                                  <li><a href="/a/maoyiyuhezuo/guonaquyudaili/" target=""><span>国内区域代理</span></a></li>
                                   
                                </ul>
                              </div>
                              <!-- E link-line --><!-- End_Module_89209 --></div>
                          </div>
                        </div>
                      </div>
                    </div> 
                    <div class="col-5-2 last">
                      <div id="a1portalSkin_ctr8920889208_Column4C20A20A20A40_QHDCPM89208M4" class="qhd_column_contain"><!-- Start_Module_89212 --><a name="31442" id="31442"></a>
                        <div class="module-default">
                          <div class="module-inner">
                            <div class="module-title module-title-default clearfix">
                              <div class="module-title-content clearfix">
                                <h3 style="" class="">河南理工大学计算机学院</h3>
                              </div>
                            </div>
                            <div id="a1portalSkin_ctr8920889208_Column4C20A20A20A40_ctr8921289212_mainArea" class="module-content"><!-- Start_Module_89212 -->
                              <div class="qhd-content">
                                <p> ICP备********号 &nbsp; &nbsp;Copyright © 2014-2016  工作室 版权所有 </p>
                                <p> <a style="display:none" href="http://www.chuanke.com/s2260700.html" title="项目展示">项目展示</a></p>
                                <p> <a href="http://www.chuanke.com/s2260700.html" target="_blank"><img alt="" src="__PUBLIC__/static/index/image/184210d2-c505-4ad4-8e62-8581f9c865ac.png" style="width: 35px; height: 35px;" /></a>&nbsp; &nbsp;<a href="http://t.qq.com" target="_blank"><img alt="" src="__PUBLIC__/static/index/image/09f4108c-a904-41dd-8ff8-71ce53d84771.png" style="width: 35px; height: 35px;" /></a></p>
                              </div>
                              <!-- End_Module_89212 --></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End_Module_89208 --></div>
            </div>
          </div>
        </div>
      </div>
    </footer>